<?xml version="1.0" encoding="utf-8" ?>
  <log4net>
    <appender type="log4net.Appender.RollingFileAppender" name="PSFAppender">
      <file type="log4net.Util.PatternString" value="LOG_PSF_.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd-HH" />
      <preserveLogFileNameExtension value="true"/>
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %.50message%newline" />
      </layout>
    </appender>

    <logger name="PSF">
      <level value="ERROR" />
      <maximumfilesize value="1KB" />
      <param value="ERROR" name="Threshold" />
      <appender-ref ref="PSFAppender" />
      <level value="INFO" />
    </logger>

    <appender type="log4net.Appender.RollingFileAppender" name="OneAppAppender">
      <file type="log4net.Util.PatternString" value="LOG_OneApp_.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd-HH" />
      <staticLogFileName value="false" />
      <preserveLogFileNameExtension value="true"/>
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %.100message%newline" />
      </layout>
    </appender>

    <logger name="OneApp">
      <level value="WARN" />
      <maximumfilesize value="10MB" />
      <param value="ERROR" name="Threshold" />
      <appender-ref ref="OneAppAppender" />
    </logger>
  </log4net>
