<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <!--   <root>
      <level value="WARN" />
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </root>-->
    <!--<appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="myapp.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>-->
    <!-- <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="LOG_.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd-HH" />
      <preserveLogFileNameExtension value="true"/>
      <staticLogFileName value="false" />
      <preserveLogFileNameExtension value="true"/>
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>-->

    <appender type="log4net.Appender.RollingFileAppender" name="PSFAppender">
      <file type="log4net.Util.PatternString" value="LOG_PSF_.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd-HH" />
      <preserveLogFileNameExtension value="true"/>
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %.50message%newline" />
      </layout>
    </appender>

    <logger name="PSF">
      <level value="ERROR" />
      <maximumfilesize value="1KB" />
      <param value="ERROR" name="Threshold" />
      <appender-ref ref="PSFAppender" />
      <level value="INFO" />
    </logger>

    <appender type="log4net.Appender.RollingFileAppender" name="OneAppAppender">
      <file type="log4net.Util.PatternString" value="LOG_OneApp_.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd-HH" />
      <staticLogFileName value="false" />
      <preserveLogFileNameExtension value="true"/>
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <logger name="OneApp">
      <level value="WARN" />
      <maximumfilesize value="10MB" />
      <param value="ERROR" name="Threshold" />
      <appender-ref ref="OneAppAppender" />
    </logger>

    <!-- <appender type="log4net.Appender.RollingFileAppender" name="classApp2">
      <file value="c:\\Library2.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <appender type="log4net.Appender.RollingFileAppender" name="application">
      <file value="c:\\Application.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <logger name="ClassLibrary1">
      <level value="ERROR" />
      <maximumfilesize value="256KB" />
      <param value="ERROR" name="Threshold" />

      <appender-ref ref="classApp1" />
    </logger>

    <logger name="ClassLibrary2">
      <level value="WARN" />
      <maximumfilesize value="256KB" />
      <param value="WARN" name="Threshold" />

      <appender-ref ref="classApp2" />
    </logger>

    <logger name="WindowsApplication1">
      <level value="WARN" />
      <maximumfilesize value="256KB" />
      <param value="WARN" name="Threshold" />

      <appender-ref ref="application" />
    </logger>-->

  </log4net>
</configuration>
